//
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";

body {
    background-color: #d3dded;
}
div.container {
    background-color: white;
}

.fade:not(.show) {
    opacity: 0.95;
}

.modal {
    padding-top: 5%;
}
